:root {
    /* Primary */
    --clr-primary-dark-cyan: hsl(185, 75%, 39%);
    --clr-primary-dark-desaturated-blue: hsl(229, 23%, 23%);
    --clr-primary-dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --clr-neutral-dark-gray: hsl(0, 0%, 59%);
    
    --fs-base: 1.125rem;
    --ff-base: 'Kumbh Sans', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    background: url(images/bg-pattern-top.svg) right 51vw bottom 45vh, url(images/bg-pattern-bottom.svg) left 51vw top 45vh;
    background-color: var(--clr-primary-dark-cyan);
    background-repeat: no-repeat;
}